nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    border: 1px solid rgb(179, 179, 179);
    background-color: rgb(241, 241, 241);
    /* padding: 40px; */
}

.my-head-space {
    margin-top: 120px;
}

.nav_links {
    position: absolute;
    top: 50px;
    right: 5%;
    font-size: 2rem;
    display: flex;
}

.nav_left-links {
    position: absolute;
    padding-bottom: 10px !important;
    top: 50px;
    left: 5%;
    font-size: 2rem;
}

.nav_links a,
.nav_left-links a {
    color: rgb(110, 110, 110);
    font-weight: 600;
    border-right: 1px solid rgb(182, 182, 182);
    padding: 5px 25px !important;
}

.nav_left-links a {
    padding-bottom: 7px !important;
}

.nav_left-links a,
.nav_links a:nth-child(odd) {
    padding: 5px;
    border-left: 1px solid rgb(182, 182, 182);
}

.nav_links a:hover,
.nav_left-links a:hover,
.active { 
    font-weight: 700;
    background-color: rgb(231, 231, 231);
    border-bottom: 2px solid red;
}


@media only screen and (max-width: 800px) {

    nav {
        border: none;
        position: fixed;
    }

    .peeps {
        display: block;
        border-bottom: none;
    }

    .nav_left-links a,
    .nav_links a,
    .nav_links a:nth-child(odd) {
        text-align: center;
        
        color: black;
        width: 25%;
        border: none;
    }

    .nav_links-all {
        font-size: 3rem !important;
        width: 100%;
        display: flex;
    }

    .nav_links-all .nav_left-links a {
        
        font-size: 2rem !important;
        text-align: center;
        background-color: rgb(252, 252, 252);
        height: 23px;
        position: fixed;
        left: 0;
    }

    .nav_links-all .nav_links a:nth-child(1) {
        font-size: 2rem !important;
        background-color: rgb(252, 252, 252);
        height: 25px;

        position: fixed;
        left: 33%;
    }

    .nav_links-all .nav_links a:nth-child(2) {
        font-size: 2rem !important;
        background-color: rgb(252, 252, 252);
        height: 25px;

        position: fixed;
        left: 66%;
    }

    .nav_links, 
    .nav_left-links {
        text-align: center;
        top: 80px;
    }

    .active, 
    .nav_links a:hover,
    .nav_left-links a:hover,
    .nav_links a:nth-child(1) {
        background-color: transparent;
       
        font-weight: bolder;
        border-bottom: none;
    }
    .active {
        background-color: rgb(241, 241, 241) !important;
    }

} 